trafilatura==2.0.0
pysqlite3-binary==0.5.2
uuid==1.30
requests==2.32.5
python_dotenv==1.1.1
streamlit==1.45.1
unstructured==0.18.21
beautifulsoup4==4.14.3
langchain==0.3.26
langchain_core==0.3.68
langchain_chroma==0.2.4
langchain_groq==0.3.5
langchain_community==0.3.27
langchain_huggingface==0.3.0
sentence_transformers==5.0.0
